

<div id="bg">
<img src="/public/Background-picture.jpg" alt="" width="100%">
<h1  class="hidden">About</h1>
<hr  class="hidden">
<p  class="hidden">Hi i'm Line 
    <br>
    <br>
    Tekst her</p>
</div> 



<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            console.log(entry)
            if(entry.isIntersecting) {
                entry.target.classList.add('show');
            } else {
                entry.target.classList.remove('show');
            }
        });
    });

    const hiddenElements = document.querySelectorAll(".hidden");
    hiddenElements.forEach((el) => observer.observe(el));
</script>


<style>


.hidden{
        opacity: 0;
        transition: ease 1.5s;
        transform: translateX(-100%);
        filter: blur(5px);
    }


    .show{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }


#bg{
    position: relative;
}

h1{
    position: absolute;
    color: #FFD4B5;
    top: 1.5em;
    font-size: 17px;
    left: 3.2em;
}

hr{
    position: absolute;
    top: 3em;
    width: 4em;
    left: 2.7em;
}

img{
    filter: brightness(50%);
}



p{
    color: white;
    position: absolute;
    top: 8.5em;
    left: 6.8em;
    font-size: 7px;
}






@media screen and (min-width: 999px) {
#bg{
    position: relative;
}

h1{
    position: absolute;
    color: #FFD4B5;
    top: 2.5em;
    font-size: 40px;
    left: 8.5em;
}

hr{
    position: absolute;
    top: 10.5em;
    width: 15em;
    left: 17em;
}

img{
    filter: brightness(50%);
}


p{
    color: white;
    position: absolute;
    top: 9em;
    left: 13.8em;
    font-size: 20px;
}
}

</style> 