
<div class="bg">
<img src="/public/Background-picture.jpg" alt="" width="100%">
<h1>About</h1>
<hr>
<p>Hi i'm Line 
    <br>
    <br>
    Tekst her</p>
</div>

<style>
.bg{
    position: relative;
}

h1{
    position: absolute;
    color: #FFD4B5;
    top: 2em;
    font-size: 46px;
    left: 7.2em;
}

hr{
    position: absolute;
    top: 10.5em;
    width: 15em;
    left: 17em;
}

img{
    filter: brightness(50%);
}


p{
    color: white;
    position: absolute;
    top: 9em;
    left: 13.8em;
    font-size: 20px;
}
</style>