
<div class="bg">
<img src="/public/Background-picture.jpg" alt="" width="100%">
<h1>About</h1>
<hr>
</div>

<style>
.bg{
    position: relative;
}

h1{
    position: absolute;
    color: white;
    top: 2em;
    font-size: 46px;
    left: 3.2em;
}

hr{
    position: absolute;
    top: 11em;
    width: 14em;
    left: 6em;
}

img{
    filter: brightness(50%);
}
</style>