
<div id="bg">
<h1>Contact</h1>

<div id="contact-formular">
    <div>
        <h2 class="hidden">Phone</h2>
        <p class="hidden">+45 42 75 35 84</p>
        <h2 class="hidden">Mail</h2>
        <p class="hidden">Linemoller1907@gmail.com</p>
    </div>

<form action="#">
        <div class="input-box">
            <div class="input-field field">
            <input type="text" placeholder="Full Name" id="name" class="item" autocomplete="off">
            </div>
            <div class="input-field field">
            <input type="text" placeholder="Email" id="email" class="item" autocomplete="off">
            </div>
        </div>

        <div class="input-box">
            <div class="input-field field">
            <input type="text" placeholder="Phone Number" id="phone" class="item" autocomplete="off">
            </div>
            <div class="textarea-field field">
            <textarea name="" id="message" cols="100" rows="5" placeholder="Your message" class="item" autocomplete="off"></textarea>
            </div>
        </div>

        <button type="submit">Send</button>
</form>
</div>
</div>


<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
// text animation
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            console.log(entry)
            if(entry.isIntersecting) {
                entry.target.classList.add('show');
            } else {
                entry.target.classList.remove('show');
            }
        });
    });

    const hiddenElements = document.querySelectorAll(".hidden");
    hiddenElements.forEach((el) => observer.observe(el));


// Send email
    const form = document.querySelector('form');

    function sendEmail() {
        Email.send({
            Host : "smtp.elasticemail.com",
            Username : "tester2024@gmail.com",
            Password : "4A12139F92ACEC621958B7DA124E43A7C689",
            To : 'them@website.com',
            From : "you@isp.com",
            Subject : "This is the subject",
            Body : "And this is the body"
        }).then(
        message => alert(message)
        );
    }
</script>   




<style>


.hidden{
        opacity: 0;
        transition: ease 1.5s;
        transform: translateX(-50%);
        filter: blur(5px);
    }


    .show{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }


    #bg{
        background-color: #0E0D0D;
        padding: 2em;
        margin-top: -4px;
    }
    h1{
        color: #FFD4B5;
        font-size: 26px;
        margin-top: 0;
    }

    p{
        color: #FFD4B5;
        font-size: 12px;
    }

    h2{
        color: #FFD4B5;
        font-size: 18px;
    }

    #message{
        background-color: #242424;
        color: white;
        max-width: 20em;
    }










@media screen and (min-width: 999px) {
    
#bg{
background-color: #0E0D0D;
padding: 4em;
margin-top: -4px;
}
    h1{
        color: #FFD4B5;
        text-align: center;
        font-size: 40px;
        margin-top: 0;
    }

    p{
        color: #FFD4B5;
        font-size: 18px;
    }

    h2{
        color: #FFD4B5;
        font-size: 25px;
    }

    #contact-formular{
        display: flex;
        justify-content: space-evenly;
    }

    input{
        background-color: #242424;
        color: white;
        width: 20em;
        padding: 10px;
    }

    #message{
        padding: 10px;
    }

    button{
        background-color: #242424;
        color: white;
        padding: 10px 30px;
        margin-left: 14.5em;
    }

    input,
    textarea,
    button{
         margin-bottom: 1em;
    }

}
</style>