<div class="body">
<h1>Experience</h1>

<section>
    <div>
        <img src="/public/vsc.png" alt="" width="15%">
        <p>Visual Studio Code</p>
    </div>
    
    <div>
        <img src="/public/vsc.png" alt="" width="15%">
        <p>HTML</p>
    </div>

    <div>
        <img src="/public/vsc.png" alt="" width="15%">
        <p>CSS</p>
    </div>

    <div>
        <img src="/public/vsc.png" alt="" width="15%">
        <p>Javascript</p>
    </div>

    <div>
        <img src="/public/vsc.png" alt="" width="15%">
        <p>REACT</p>
    </div>

    <div>
        <img src="/public/photoshop.png" alt="" width="15%">
        <p>Photoshop</p>
    </div>

    <div>
        <img src="/public/blender.png" alt="" width="15%">
        <p>3D Blender</p>
    </div>

    <div>
        <img src="/public/figma.png" alt="" width="15%">
        <p>Figma</p>
    </div>

    <div>
        <img src="/public/asana.png" alt="" width="15%">
        <p>Asana </p>
    </div>

    <div>
        <img src="/public/photoshop.png" alt="" width="15%">
        <p>UX</p>
    </div>

    <div>
        <img src="/public/photoshop.png" alt="" width="15%">
        <p>UI</p>
    </div>
</section>
</div>

<style>
    .body{
        background-color: #0E0E0E;  
        padding: 50px;
    }

    h1{
        color: #FFD4B5;
        text-align: center;
        font-size: 40px;
    }

    p{
        color: white;
    }

    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        width: 61em;
        margin: auto;
        margin-bottom: 0em;
    }


</style>