
<div id="cold-box-border">
    <h3 class="hidden">Line Lochmann Møller</h3>
</div>

<div id="cold-box-border" class="hidden">
    <h1 class="hidden">Frontend- Designer <br> & Developer</h1>
</div>

<div id="cold-box-border" class="hidden">
    <p class="hidden">Download CV</p>
</div>


   


<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            console.log(entry)
            if(entry.isIntersecting) {
                entry.target.classList.add('show');
            } else {
                entry.target.classList.remove('show');
            }
        });
    });

    const hiddenElements = document.querySelectorAll(".hidden");
    hiddenElements.forEach((el) => observer.observe(el));

</script>   




<style>
    body{
        background: url(bg-light.png);
        background-repeat: no-repeat;
        background-size: 100%;
        backdrop-filter: brightness(30%);
        margin: 0;

        max-height: 895px;

         /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }





    .hidden{
        opacity: 0;
        transition: ease 1.8s;
        transform: translateY(50%);
        filter: blur(5px);
    }


    .show{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }








    h1{
        color: #FFD4B5; 
        font-size: 40px;
        margin-top: -0.4em;
        margin-bottom: -0.1em;
    }

    h3{
        color: #FFD4B5;
        margin-top: 4em;
        font-size: 20px;
    }

    p{
        font-size: 9px;
        border-style: solid;
        padding: 5px;
        width: 9em;
        border-radius: 6px;
        color: #FFD4B5;
        margin-bottom: 35em;
        text-align: center;
        margin: auto;
    }

    #cold-box-border{
        text-align: center;
    }



        




    @media screen and (min-width: 1000px) {
            
    h1{
        color: #FFD4B5;
        font-size: 110px;
        margin-bottom: 0;
        margin-top: -0.3em;
    }
    h2{
        color: #FFD4B5;
        font-size: 30px;
    }
    h3{
        color: #FFD4B5;
        margin-top: 8em;
        font-size: 30px;
    }
    p{
        font-size: 17px;
        border-style: solid;
        padding: 13px;
        width: 9em;
        border-radius: 15px;
        color: #FFD4B5;
        margin-bottom: 15em;
    }
}
</style>
    
