

<section class="cold-box-border">
    <h1>Line Lochmann Møller</h1>
    <h2>Frontend- Designer & Developer</h2>
    <p>Download CV</p>
</section>



<style>
    body{
        background-color: black;
    }
            
    h1{
        color: #FFD4B5;
        font-size: 75px;
        margin-bottom: 0;
        margin-top: 0;
    }
    h2{
        color: #FFD4B5;
        font-size: 30px;
    }
    p{
        font-size: 17px;
        border-style: solid;
        padding: 13px;
        width: 9em;
        border-radius: 15px;
        color: #FFD4B5;
        margin: auto;
    }
    
            
    .cold-box-border{
        display: grid;
        text-align: center;
        border-style: groove;
        border-color: #FFD4B5;
        padding: 75px;
        width: 48em;
        margin: auto;
        margin-top: 11em;	
        margin-bottom: 20em;
        border-radius: 8px;
    }
    
    
    </style>
    