---

---
<section>
	<h1>LILO</h1>
    
<div class="primary-navigation">
<div class="nav-list">
<h3><a href="index.html">Home</a></h3>
<h3><a href="#section-1">Experience</a></h3>
<h3><a href="#section-2">About</a></h3>
<h3><a href="#section-3">Contact</a></h3>
</div>
</div>
</section>



<style>

section{
	display: grid;
	text-align: center;
}

div{
	display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 0em;

}

h1{
	color: #FFD4B5;
    font-size: 30px;
    margin-bottom: -0.2em;
}

		
h3{
	color: #FFD4B5;
	font-size: 10px;
}

a{
	text-decoration: none;
	color: #FFD4B5;

}






@media screen and (min-width: 1000px) {
section{
	display: flex;
	justify-content: space-between;
}

div{
	display: flex;
	gap: 34px;
	margin-right: 2em;
	margin-top: -0.5em;
}

h1{
	color: #FFD4B5;
	font-size: 35px;
	margin-left: 1.5em;
	margin-top: 0.4em;	
}

		
h3{
	color: #FFD4B5;
	font-size: 22px;
	margin-top: 1.4em;
}
}

</style>