
<section>
<img src="/public/logo.png" alt="logo">
    
<div>
<h3>Home</h3>
<h3>Experience</h3>
<h3>About</h3>
<h3>Contact</h3>
</div>
</section>



<style>
section{
	display: flex;
	justify-content: space-between;
}

div{
	display: flex;
	gap: 34px;
	margin-right: 2em;
}
		
h3{
	color: #FFD4B5;
	font-size: 22px;
}

img{
	width: 138px;
	height: 47px;
}
</style>