
<section>
	<h1>LILO</h1>
	<!-- <p>Line Lochmann Møller</p> -->
<!-- <img src="/public/logo.png" alt="logo"> -->
    
<div>
<h3>Home</h3>
<h3>Experience</h3>
<h3>About</h3>
<h3>Contact</h3>
</div>
</section>



<style>

section{
	display: grid;
	text-align: center;
}

div{
	display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 0em;
}

h1{
	color: #FFD4B5;
    font-size: 30px;
    margin-bottom: -0.2em;
    margin-top: 0.5em;
}

		
h3{
	color: #FFD4B5;
	font-size: 10px;
}






@media screen and (min-width: 1000px) {
section{
	display: flex;
	justify-content: space-between;
}

div{
	display: flex;
	gap: 34px;
	margin-right: 2em;
	margin-top: -0.5em;
}

h1{
	color: #FFD4B5;
	font-size: 35px;
	margin-left: 0.5em;
	margin-top: 0.2em;	
}

		
h3{
	color: #FFD4B5;
	font-size: 22px;
}
/* 
img{
	width: 138px;
	height: 47px;
	margin-left: 1em;
    margin-top: 1em;
} */
}

</style>